[Unit]
Description=WireGuard via wireguard-go for %I
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/bin/bash -c "/usr/local/sbin/wg-up %i && sleep infinity"
ExecStop=/usr/local/sbin/wg-down %i

[Install]
WantedBy=multi-user.target
